<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Bully election algorithm</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body class="vh-100 d-flex flex-column flex-nowrap">
    <main>
        <div id="container" class="d-flex flex-row flex-wrap gap-2 p-4 justify-content-center">
            <div id="prototype" class="card shadow-sm" style="max-width: 20em;">
                <div class="card-body position-relative">
                    <h3 class="h3 card-title">Replica name</h3>
                    <p class="card-subtitle">Replica state</p>
                    <p class="card-text">Replica leader</p>
                </div>

                <div class="card-footer">
                    <span class="badge">Correct role</span>
                    <span class="badge">Correct leader</span>
                </div>
            </div>
        </div>
    </main>

    <footer class="mt-auto text-center p-2">
        <span class="text-muted">host: {{ .Hostname }},</span>
        <span class="text-muted">namespace: {{ .Namespace }}</span>
    </footer>

    <script>
        async function fetchState() {
            try {
                let url = ''
                if (document.location.protocol === 'file:') {
                    url = 'http://localhost:80'
                } else {
                    url = `${document.location.origin}:80`
                }

                const response = await fetch(url)
                if (!response.ok) {
                    console.error('Response has incorrect status code', response.statusText)
                    return null
                }

                const { data, error } = await response.json()
                if (error) {
                    console.error('Couldn\'t convert response to JSON', error)
                    return null
                }

                return data
            } catch (e) {
                console.error('Fetch failed', e)
            }

            return null
        }

        function setClasses(element, conditions, fallback = null) {
            let matched = false
            for (const [className, condition] of Object.entries(conditions)) {
                if (condition) {
                    element.classList.add(className)
                    matched = true
                } else {
                    element.classList.remove(className)
                }
            }

            if (!matched && fallback) {
                element.classList.add(fallback)
            } else {
                element.classList.remove(fallback)
            }
        }

        function createCard(container, prototype) {
            const card = prototype.cloneNode(true)
            card.removeAttribute('id')
            container.appendChild(card)
            return card
        }

        function fillCard(card, replica, leader) {
            const isLeader = replica.name === leader

            setClasses(card, {
                'bg-warning': isLeader
            })

            const cardBody = card.children[0]

            cardBody.children[0].textContent = replica.name ?? '<Name not available>'
            cardBody.children[1].textContent = replica.state ?? '<State not available>'
            cardBody.children[2].textContent = replica.leader ?? '<Leader not available>'

            const cardFooter = card.children[1]

            const considersItselfElected = replica.state === 'elected'
            const considersItselfNotElected = replica.state === 'notElected'

            setClasses(cardFooter.children[0], {
                // Replica is in a correct final state.
                'bg-success': considersItselfElected && isLeader || considersItselfNotElected && !isLeader,
                // Replica isn't in a correct final state.
                'bg-danger': considersItselfElected && !isLeader || considersItselfNotElected && isLeader
            }, 'bg-warning')

            setClasses(cardFooter.children[1], {
                'bg-success': replica.leader === leader
            }, 'bg-danger')

            return card
        }

        function updateState(cards, container, prototype) {
            fetchState().then(state => {
                if (!state || !state.replicas || !state.leader) {
                    console.error('Invalid state provided', state)
                    return
                }

                // Descending sort on names.
                state.replicas.sort((a, b) => a.name < b.name ? 1 : a.name > b.name ? -1 : 0)

                // Create missing cards.
                for (let index = cards.length; index < state.replicas.length; index++) {
                    cards.push(createCard(container, prototype))
                }

                // Hide extra cards.
                cards.forEach((card, index) => setClasses(card, {
                    'collapse': index >= state.replicas.length
                }))

                // Fill replica cards.
                state.replicas.forEach((replica, index) => fillCard(cards[index], replica, state.leader));
            }).then(() => {
                setTimeout(() => updateState(cards, container, prototype), 1000)
            }).catch(e => {
                console.error('Error occurred during state update', e)
            })
        }

        const container = document.getElementById('container')
        const prototype = document.getElementById('prototype')
        prototype.remove()

        const cards = []

        updateState(cards, container, prototype)
    </script>
</body>

</html>
